<FilesMatch ".(js|css)">
Header set Access-Control-Allow-Origin "sameorigin"
</FilesMatch>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]