.home {
	.slider {
		.home-slider {
			.slider-item {
				.banner {
					height: 70vh;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
				}
			}
		}
	}
}